/* ########################## Initialize styles ########################## */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Signika Negative", sans-serif;
  list-style: none;
}

:root {
  --bg-color: #c7b7a3;
  --primary-color: #b5c18e;
  --secondary-color: #eadbc8;
  --third-color: #f1f1f1;
  --bg-input-color: #c5873c;
  --font-text-color: #76453b;
  --font-titles-color: #3d241f;
  --spacer-1: 0.25rem;
  --spacer-2: 0.5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --shadows: 7px 7px 7px rgba(0, 0, 0, 0.15);
}

html {
  font-size: 16px;
  line-height: 1.44;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--secondary-color);
}

main {
  margin-top: 60px;
}

a {
  list-style: none;
  text-decoration: none;
  margin-left: var(--spacer-4);
  color: var(--font-text-color);
}

h2 {
  color: var(--font-titles-color);
}

p {
  color: var(--font-text-color);
}
/* ########################## NavBar ########################## */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: var(--primary-color);
  z-index: 1;
}

nav {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

#logo a, ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo a span{
  font-weight: bold;
}

.nav-links li a{
    background-image: linear-gradient(120deg, var(--font-text-color), var(--primary-color) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;
}

.nav-links li a:hover {
  padding: 5px 0px 5px 0px;
  background-size: 100% 88% !important;
  color: var(--secondary-color);
  transition: 0.25s linear;
}
#NosotrosRef,
#JardinRef,
#ServiciosRef,
#ContactoRef{
  height: 43px;
}
/* ########################## Main ########################## */

section {
  /* margin: 0rem 0rem 2.5rem 0rem; */
  width: 100%;
  margin: 0px;
}

#banner{
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20vh;
  box-shadow: inset 0 0 0 2000px rgba(84, 84, 84, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

h1 {
  color: var(--third-color);
  font-size: 3em;
}

#titulo1, #titulo2, #titulo3, #titulo4 {
  font-size: 2.5em;
  font-style: oblique;
  text-align: center;
  margin: 1rem 0rem;
}

.texto1 {
  font-size: 1.5em;
  font-style: oblique;
  text-align: center;
  font-weight: bold;
  margin: 10px 40px 20px;
  padding: 1rem 6rem;
}


.contenedor-slider{
  display: flex;
  justify-content: center;
  align-content: center;
}

.contenido2, .contenido3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%; 
  max-width: 500px; 
  height: 300px;
  overflow: hidden;
  margin: 0px 40px 10px; 
}

.slider div {
  display: flex;
  padding: 0px;
  width: 400%;
  animation: deslizado 15s infinite alternate linear;
}
.slider span{
  width: 100%;
  list-style: none;
}

.slider img{
  width: 100%;
  height: 100%;
}

@keyframes deslizado{
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}

.contenido1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenido1-1 {
  margin: 0px;
  justify-content: center;
  align-items: center;
}

.contenido1-1 p{
  font-size: 1em;
  text-align: center;
  padding: 2rem 8rem;
}

@media only screen and (max-width: 600px) {
  .contenido1{
    flex-direction: column;
  }
  .contenido1-1{
    width: calc(100%/2);
  }
}

/* ########################## Footer ########################## */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  height: 60px;
  margin: 0 auto;
  padding: 4rem;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p{
  margin-left: var(--spacer-4);
  padding: 1rem;
}


/* CAMBIOS HECHOS POR CONSTANZA */

.seccion_clara{
  background-color: var(--third-color);
}

.seccion_clara, .seccion_oscura{
  width: 100%;
  /* padding: 0rem 2rem; */
}

  /* Sección Tu Jardín */

  #Tu_Jardin{
  padding: 0rem 2rem;
  }

  .contenido2{
    margin: 2rem;
  }

  .card-flores-contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem 0rem;
    perspective: 62.5rem;
    gap: 0.5rem;
  }

  .card-flores{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--third-color);
    width: 12.5rem;
    height: 15rem;
    border-radius: 1rem;
    border: solid 0.18rem var(--primary-color);
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.6s;
  }

  .card-flores p{
    margin: 0.5rem;
  }

  .card-flores img{
    width: 10rem;
    height: 8rem;
    border-radius: 1rem;
    margin: 0.5rem;
  }

  .card-front, .card-back {
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    width: 12rem;
    height: 14.5rem;
    border-radius: 1rem;
    z-index: -1;
}

.card-front {
  background-color: var(--third-color);
}

.card-back {
  background-color: var(--third-color);
  transform: rotateY(180deg);
  text-align: center;
  padding-top: 1rem;
}

.card-flores-hover{
display: flex;
}

.card:hover > .card-flores {
  transform: rotateY(180deg);
}

  /* Sección Tu Jardín */


  /*********** Nuestros_Servicios**************/

 #titulo3{
  padding: 1rem 2rem 0rem;
 }

.contenido3{
 margin: 2rem 4rem;
 padding: 0rem 2rem;
}

.card-service-container{
  width: fit-content;
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  padding-bottom: 3rem;
  flex-wrap: wrap;
  flex-direction: row;
}

.card-service{
  width: 15rem;
  height: 28rem;
  margin: 7px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  cursor: default;
  transition: all 400ms ease;
}

.card-service:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-8%);
}

.service-img{
  width: auto;
  height: auto;
}

.service-img img{
  width: 110%;
  height: 150px;
}

.service-text{
  padding: 15px;
  text-align: center;
}

span{
  font-size: 350;
  font-style: oblique;
  font-size: 1.2rem;
  padding: 15px;
}

  

/* Sección de Contacto */

#Contacto{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

#Contacto button{
  position: relative;
  left: 14rem;
  padding: 0.7rem;
  background-color: #b5c18e;
  font-size: 1rem;
  border: solid 2px #707c49;
  border-radius: 10px;
  margin-bottom: 2rem;
  cursor: pointer;
  max-width: 6rem;
}

#Contacto button:hover{
  cursor: pointer;
  scale: 120%;
}

#form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-control{
  margin: 1rem;
}

.form-motivo, .motivo{
  margin: 1rem;
}

.form-control label{
  margin-right: 1rem;
}

.form-control input{
  padding: 0.3rem;
  border: solid 0.15rem #76453b;
  border-radius: 7px;
}

#email{
  width: 15rem;
}

#country{
  padding: 0.3rem;
  border: solid 0.15rem #76453b;
  border-radius: 7px;
}

